* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Roboto Mono", monospace;
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(0, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0px;
}
header .header-icons-container {
  width: 100%;
  height: 40px;
  background-color: #3C486B;
  display: grid;
  grid-template-columns: repeat(0, 1fr);
  grid-template-rows: repeat(0, 1fr);
  gap: 0;
}
header .header-icons-container .icons {
  min-width: 300px;
  height: auto;
  margin-right: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
header .header-icons-container .icons span {
  color: white;
}
header .header-icons-container .icons span:hover {
  color: #9376E0;
}
header .header-nav-container {
  width: 100%;
  height: 60px;
  padding: 0 3rem;
  background-color: #545B77;
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
header .header-nav-container__logo img {
  display: block;
  width: 200px;
}
header .header-nav-container__perfil {
  font-weight: bold;
  font-size: 1rem;
  color: white;
  border-bottom: 1px solid white;
}

footer {
  width: 100%;
  height: 80px;
}
footer .bar {
  width: 100%;
  height: 30px;
  background: #3C486B;
}
footer .footer-text {
  height: 50px;
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
footer .footer-text p {
  color: white;
}

.home-container {
  text-align: center;
  width: 100%;
  height: calc(100vh - 100px);
  background: url("../../assets/img/background.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.home-container__text {
  width: 80%;
  letter-spacing: 1rem;
  line-height: 3.25rem;
  font-weight: bold;
  font-size: 2.5rem;
  color: white;
}
.home-container__btn {
  border: none;
  outline: none;
  border: 1px solid #3F0071;
  cursor: pointer;
  border-radius: 1.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  width: 150px;
  padding: 1rem 1rem;
  color: white;
  background-color: #3F0071;
}
.home-container__btn:hover {
  background-color: transparent;
  border: 1px solid #eee;
  transition: all 1s;
}

.blogs-main {
  width: 100%;
}
.blogs-main .principal-section {
  width: 100%;
  height: calc(100vh - 100px);
  padding: 3rem 7rem;
  background-color: #e6e9ed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.blogs-main .principal-section .notice {
  width: 50%;
}
.blogs-main .principal-section .notice__title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.blogs-main .principal-section .notice figure {
  width: 100%;
  height: 100%;
}
.blogs-main .principal-section .notice__img {
  display: block;
  width: 100%;
  height: 430px;
}
.blogs-main .principal-section .impact {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
.blogs-main .principal-section .impact__btn {
  text-align: center;
  color: white;
  border: 1px solid #9376E0;
  border-radius: 2rem;
  background-color: #9376E0;
  width: 100px;
  padding: 0.5rem;
}

.blogposts-section {
  width: 100%;
}
.blogposts-section .blogposts-principal {
  width: 85%;
  margin: 0 auto;
  border-bottom: 0.5px solid gray;
  text-align: center;
  padding: 3rem 0 2rem;
}
.blogposts-section .blogpost-container {
  width: 85%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.blogposts-section .blogpost-container .blogpost-card {
  max-width: 300px;
  border: 1px solid #9376E0;
  box-shadow: 5px 5px 10px gray;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
.blogposts-section .blogpost-container .blogpost-card__img {
  display: block;
  width: 100%;
}
.blogposts-section .blogpost-container .blogpost-card__btn {
  text-align: center;
  color: white;
  border: 1px solid #9376E0;
  border-radius: 2rem;
  background-color: #9376E0;
  width: 100px;
  padding: 0.5rem;
}

.blogpost-image {
  width: 100%;
  padding: 1rem 0;
}
.blogpost-image figure {
  width: 90%;
  margin: 0 auto;
}
.blogpost-image figure img {
  width: 100%;
  height: 100vh;
}

.notice-section {
  width: 100%;
  padding: 2rem 0;
}
.notice-section .notice-container {
  width: 80%;
  margin: 0 auto;
}
.notice-section .notice-container__title {
  padding-bottom: 1rem;
  border-bottom: 1px solid #000;
}

.notice__title {
  padding: 2rem 0;
}
.notice__text {
  padding-bottom: 1rem;
}

.contact-section {
  width: 100%;
  background-color: #e6e9ed;
  padding: 3rem 0;
}
.contact-section .contact-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
}
.contact-section .contact-container__read, .contact-section .contact-container__contact {
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.contact-section .contact-container__read img, .contact-section .contact-container__contact img {
  display: block;
  width: 100px;
}
.contact-section .contact-container__read .info__title, .contact-section .contact-container__contact .info__title {
  border-bottom: 1px solid gray;
  font-weight: bold;
  font-size: 1.25rem;
}
.contact-section .contact-container__read .info__text, .contact-section .contact-container__contact .info__text {
  padding-top: 1rem;
}

/*# sourceMappingURL=main.css.map */
