* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Roboto Mono", monospace;
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(0, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0px;
}
header .header-icons-container {
  width: 100%;
  height: 40px;
  background-color: #3C486B;
  display: grid;
  grid-template-columns: repeat(0, 1fr);
  grid-template-rows: repeat(0, 1fr);
  gap: 0;
}
header .header-icons-container .icons {
  min-width: 300px;
  height: auto;
  margin-right: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
header .header-icons-container .icons span {
  color: white;
}
header .header-icons-container .icons span:hover {
  color: #9376E0;
}
header .header-nav-container {
  width: 100%;
  height: 60px;
  padding: 0 3rem;
  background-color: #545B77;
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
header .header-nav-container__logo img {
  display: block;
  width: 200px;
}
header .header-nav-container__perfil {
  font-weight: bold;
  font-size: 1rem;
  color: white;
  border-bottom: 1px solid white;
}

footer {
  width: 100%;
  height: 80px;
}
footer .bar {
  width: 100%;
  height: 30px;
  background: #3C486B;
}
footer .footer-text {
  height: 50px;
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
footer .footer-text p {
  color: white;
}

.blogs-main {
  width: 100%;
}
.blogs-main .principal-section {
  width: 100%;
  padding: 3rem 7rem;
  background-color: #e6e9ed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.blogs-main .principal-section .notice {
  width: 50%;
}
.blogs-main .principal-section .notice__title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.blogs-main .principal-section .notice figure {
  width: 100%;
  height: 100%;
}
.blogs-main .principal-section .notice__img {
  display: block;
  width: 100%;
  height: auto;
}
.blogs-main .principal-section .impact {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
.blogs-main .principal-section .impact__btn {
  text-align: center;
  border: 1px solid #9376E0;
  width: 100px;
  padding: 0.5rem;
}

.blogposts-section {
  width: 100%;
}
.blogposts-section .blogposts-principal {
  width: 85%;
  margin: 0 auto;
  border-bottom: 1px solid #000;
  text-align: center;
  padding: 3rem 0 2rem;
}
.blogposts-section .blogpost-container {
  width: 85%;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}
.blogposts-section .blogpost-container .blogpost-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
.blogposts-section .blogpost-container .blogpost-card__img {
  display: block;
  width: 100%;
}
.blogposts-section .blogpost-container .blogpost-card__btn {
  text-align: center;
  border: 1px solid #9376E0;
  width: 100px;
  padding: 0.5rem;
}

/*# sourceMappingURL=main.css.map */
