footer {
    width: 100%;
    height: 80px;
    .bar {
        width: 100%;
        height: 30px;
        background: #3C486B;
    }
    .footer-text {
        height: 50px;
        background: black;
        @include flexBox(row, center, center, 0);
        p {
            color: white;
        }
    }
}