header {
    width: 100%;
    height: 100px;
    @include grid(0, 2, 0px);
    .header-icons-container {
        width: 100%;
        height: 40px;
        background-color: #3C486B;
        @include grid(0,0,0); 
        .icons {
            min-width: 300px;
            height: auto; // Toma la altura de su padre
            margin-right: 3rem;
            @include flexBox(row,flex-end,center,1rem);
            span {
                color: white;
                &:hover {
                    color: #9376E0;
                }
            }
        }
    }
    .header-nav-container {
        width: 100%;
        height: 60px;
        padding: 0 3rem;
        background-color: #545B77;
        opacity: .8;
        @include flexBox(row, space-between, center, 0);

        &__logo img{
            display: block;
            width: 200px;
        }
        &__perfil {
            font-weight: bold;
            font-size: 1rem;
            color: white;
            border-bottom: 1px solid white;
        }
    }
}