.perfil-section {
    width: 100%;
    background-color: #e6e9ed;
    &__container {
        width: 80%;
        padding: 4rem 0;
        margin: 0 auto;
        @include flexBox(row,center,center,0);
        @include mobile {
            flex-direction: column;   
            gap: 2rem;
        }
    }
    &__img {
        // width: 100%;  
        margin-right: 5rem;  
        img {
            display: block;
            width: 320px;
            @include mobile {
                width: 100%;
            }
        }
        @include mobile {
            margin: 0;   
        }
    }
    .perfil__title {
        padding-bottom: 1rem;
    }
}

.project-section {
    width: 100%;
    &__container {
        width: 80%;
        padding: 4rem;
        margin: 0 auto;
        @include mobile {
            padding: 2rem 0;
        }
    }
    &__title {
        text-align: center;
        padding-bottom: 2rem;
        border-bottom: 1px solid gray;
    }
    &__cards {
        padding-top: 2rem;
        @include flexBox(row, space-between, flex-start, 1rem);
        flex-wrap: wrap;
        .project-card {
            max-width: 300px;
            &__title {
                padding-bottom: 1rem;
            }
        }
    }

}